<div class="container">
  <tabset [justified]="true">
    <tab heading="Preview">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-offset-1 col-sm-10">
            <div class="w3-row w3-panel p-0 w3-display-container">
              <div class="col-md-12 text-center">
                <div class="clock center-block text-pink">
                  <div class="hours"></div>
                  <div class="minutes"></div>
                  <div class="seconds"></div>
                  <div class="twelvehr"></div>
                </div>
                <!--clock end-->
                <div class="progress center-block">
                  <div class="progress-bar progress-bar-striped active" role="progressbar" style="width:70%"></div>
                </div>
                <button type="button" class="btn btn-lg bg-pink w3-round-xxlarge btn-pause">Pause</button>
              </div>
              <!--col end-->
              <div class="w3-display-topright page4-top-right-text text-right">
                <h6>Your account balance</h6>
                <span class="text-pink">
                  <span class="add-card">Add Credit</span> $000.00</span>
              </div>
              <!--cole nd-->
            </div>
            <!--progress row emd-->
            <div class="w3-row">
              <a href="#" class="btn btn-lg btn-block bg-pink w3-round-xxlarge">Not Live</a>

            </div>
            <!--row end-->
            <div class="w3-row w3-panel w3-padding-16 w3-white">
              <!--==================1 row================-->
              <div class="col-md-3 pl-0 page2-slider">
                <div id="myCarousel" class="carousel slide " data-ride="carousel">
                  <!-- Indicators -->
                  <ol class="carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#myCarousel" data-slide-to="1"></li>
                    <li data-target="#myCarousel" data-slide-to="2"></li>
                    <li data-target="#myCarousel" data-slide-to="3"></li>
                    <li data-target="#myCarousel" data-slide-to="4"></li>
                  </ol>

                  <!-- Wrapper for slides -->
                  <div class="carousel-inner">
                    <div class="item active">
                      <img src="assets/images/product/pro_4.png" alt="" class="img-adjust">
                    </div>

                    <div class="item">
                      <img src="assets/images/product/pro_4.png" alt="" class="img-adjust">
                    </div>
                    <div class="item">
                      <img src="assets/images/product/pro_4.png" alt="" class="img-adjust">
                    </div>
                    <div class="item">
                      <img src="assets/images/product/pro_4.png" alt="" class="img-adjust">
                    </div>
                    <div class="item">
                      <img src="assets/images/product/pro_4.png" alt="" class="img-adjust">
                    </div>
                  </div>

                </div>
                <!--caro end-->
                <ul class="thumb-list">
                  <li>
                    <img src="assets/images/gallery/thumb1.png" alt="">
                  </li>
                  <li>
                    <img src="assets/images/gallery/thumb1.png" alt="">
                  </li>
                  <li>
                    <img src="assets/images/gallery/thumb1.png" alt="">
                  </li>

                </ul>
                <!--thumb img-->
                <div class="read-this">
                  <img src="assets/images/gmail.png" alt=""> Please read this!!!</div>
              </div>
              <!--col 2 end-->
              <div class="col-md-6 page2-topmiddle">
                <h3>Aimee</h3>
                <p class="font-12">
                  <img src="assets/images/map_marker.png" alt="" /> Adaillaide, SA, 5000</p>
                <h5>Highlight Profile</h5>
                <p>
                  <label class="switch">
                    <input type="checkbox" checked>
                    <span class="switch-toggle round"></span>
                  </label>
                  <span class="cycle"> $2.50 Auto cycle</span>
                </p>
                <p>Damaged
                  <span>180/1/1</span>
                </p>
                <p>Age
                  <span>20-25</span>
                </p>
                <p>Boob size
                  <span>34B</span>
                </p>
                <p>Height
                  <span>170cm</span>
                </p>
                <p>Room & CD
                  <span>Included</span>
                </p>
                <p>Service Location
                  <span>Hotel Aparrtment</span>
                </p>
                <h6>Contact info</h6>
                <p>Preferd contact method
                  <span> Text only</span>
                </p>
                <p>Mobile Number
                  <a href="#" class="w3-right btn btn-link">Click here to Reveal</a>
                </p>
                <h6>
                  <img src="assets/images/phone_icon_green.png" alt="" /> Contact info</h6>
                <p class="text-bold">
                  <img src="assets/images/gray_round.png" alt="" /> 0411 134...
                  <img src="assets/images/viver.png" alt="" /> 0411 134...</p>

              </div>
              <!--col 6 emd-->
              <div class="col-md-3 p-0 text-right">

              </div>
              <!--col 3 end-->
            </div>
            <!--row end-->
            <div class="w3-row w3-white w3-panel page2-row2">
              <!--==================2 row================-->
              <p>My Services</p>
              <div class="w3-row check-row2">
                <label class="checkbox-inline">
                  <input type="checkbox" value="">Option 1
                </label>
                <label class="checkbox-inline">
                  <input type="checkbox" value="">Option 2
                </label>
                <label class="checkbox-inline">
                  <input type="checkbox" value="">Option 3
                </label>
                <label class="checkbox-inline">
                  <input type="checkbox" value="">Option 4
                </label>
                <label class="checkbox-inline">
                  <input type="checkbox" value="">Option 5
                </label>

              </div>
              <!--check box row-->
              <p>About Me</p>
              <h6>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum
                sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies
                nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel,
                aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam
                dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean
                vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem
                ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque
                rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget
                dui. Etiam rhoncus.</h6>
              <div class="col-sm-offset-2 col-sm-8">
                <div class="embed-responsive embed-responsive-16by9">
                  <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/e0CvgHEiTwk" frameborder="0" allow="autoplay; encrypted-media"
                    allowfullscreen></iframe>
                </div>
              </div>
              <!--youtube video-->
            </div>
            <!--part 2 row end-->
            <div class="w3-row w3-white w3-panel w3-padding-16 page2-3row">
              <!--==================3 row================-->
              <p class="text-bold text-gray">My photo gallery</p>
              <div class="col-sm-4">
                <img src="assets/images/gallery/1.png" class="img-adjust" onclick="onClick(this)">
              </div>
              <div class="col-sm-4">
                <img src="assets/images/gallery/2.png" class="img-adjust" onclick="onClick(this)">
              </div>
              <div class="col-sm-4">
                <img src="assets/images/gallery/3.png" class="img-adjust" onclick="onClick(this)">
              </div>
              <div class="col-sm-4">
                <img src="assets/images/gallery/4.png" class="img-adjust" onclick="onClick(this)">
              </div>
              <div class="col-sm-4">
                <img src="assets/images/gallery/5.png" class="img-adjust" onclick="onClick(this)">
              </div>
              <div class="col-sm-4">
                <img src="assets/images/gallery/1.png" class="img-adjust" onclick="onClick(this)">
              </div>
            </div>
            <!--part 3 row end----------->
            <!-- Modal for full size images on click-->
            <div id="modal01" class="w3-modal w3-black" style="padding-top:0">
              <span class="w3-button w3-black w3-xlarge w3-display-topright" onClick="w3_close()">×</span>
              <div class="w3-modal-content w3-animate-zoom w3-center w3-transparent w3-padding-64">
                <img id="img01" class="w3-image">
                <p id="caption"></p>
              </div>
            </div>
            <!--modal end-->
            <div class="w3-row w3-panel w3-white w3-padding-16">
              <!--=================4 row======================-->
              <p class="text-bold">Comments</p>
              <ul class="nav nav-tabs">
                <li class="active">
                  <a data-toggle="tab" href="#Comments">Comments </a>
                </li>
                <li>
                  <a data-toggle="tab" href="#Complaints">Complaints</a>
                </li>
              </ul>

              <div class="tab-content">
                <div id="Comments" class="tab-pane fade in active">
                  <p class="resent-comment">Recent Comments</p>
                  <div class="col-sm-9">
                    <h6 class="comment-name">
                      <img src="assets/images/user.png" alt=""> User Jammy2o3o3</h6>
                    <p class="comment-text">Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis,
                      ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo,
                      fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis
                      vitae, justo. </p>
                  </div>
                  <!--comment 1 end-->
                  <div class="col-sm-offset-1 col-sm-9">
                    <h6 class="comment-name">
                      <img src="assets/images/user.png" alt=""> User Jammy2o3o3</h6>
                    <p class="comment-text">Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis,
                      ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo,
                      fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis
                      vitae, justo. </p>
                  </div>
                  <!--comment 2-->
                  <div class="col-sm-offset-2 col-sm-9">
                    <h6 class="comment-name">Your comment</h6>
                    <textarea rows="4"></textarea>
                    <div class="text-right">
                      <input type="button" class="btn bg-pink btn-post" value="post">
                    </div>
                  </div>
                  <!--comment 2-->
                </div>
                <!--==========================comments end============================-->
                <div id="Complaints" class="tab-pane fade">
                  <h3>Menu 1</h3>
                  <p>Some content in menu 1.</p>
                </div>

              </div>
              <!--tab-content end-->
            </div>
            <!--part 4 row end-->
          </div>
          <!--main col end-->
        </div>
        <!--row end-->
      </div>
    </tab>
    <tab heading="Edit">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-offset-1 col-sm-10">
            <div class="w3-row w3-panel p-0 w3-display-container">
              <div class="col-md-12 text-center">
                <div class="clock center-block text-pink">
                  <div class="hours"></div>
                  <div class="minutes"></div>
                  <div class="seconds"></div>
                  <div class="twelvehr"></div>
                </div>
                <!--clock end-->
                <div class="progress center-block">
                  <div class="progress-bar progress-bar-striped active" role="progressbar" style="width:70%"></div>
                </div>
                <button type="button" class="btn btn-lg bg-pink w3-round-xxlarge btn-pause">Pause</button>
              </div>
              <!--col end-->
              <div class="w3-display-topright page4-top-right-text text-right">
                <h6>Your account balance</h6>
                <span class="text-pink">
                  <span class="add-card">Add Credit</span> $000.00</span>
              </div>
              <!--cole nd-->
            </div>
            <!--progress row emd-->
            <div class="w3-row">
              <a href="#" class="btn btn-lg btn-block bg-pink w3-round-xxlarge">Not Live</a>

            </div>
            <!--row end-->
            <h3 class=" w3-padding text-center bg-pink edit-header">Edit</h3>
            <div class="w3-row w3-panel w3-border-0 w3-white m-0">
              <!--==================1 row================-->

              <div class="col-md-3 pl-0">
                <div id="myCarousel" class="carousel slide" data-ride="carousel">


                  <!-- Wrapper for slides -->
                  <div class="carousel-inner">
                    <div class="item active">
                      <img src="assets/images/product/pro_4.png" alt="" class="img-adjust">
                    </div>

                    <div class="item">
                      <img src="assets/images/product/pro_4.png" alt="" class="img-adjust">
                    </div>
                    <div class="item">
                      <img src="assets/images/product/pro_4.png" alt="" class="img-adjust">
                    </div>
                    <div class="item">
                      <img src="assets/images/product/pro_4.png" alt="" class="img-adjust">
                    </div>
                    <div class="item">
                      <img src="assets/images/product/pro_4.png" alt="" class="img-adjust">
                    </div>
                  </div>
                  <img src="assets/images/lock.png" alt="" class="lock" />
                  <!-- Left and right controls -->
                  <div class="move-arrow">
                    <a class="left w3-display-bottomleft" href="#">
                      <span class="glyphicon glyphicon-chevron-left"></span>
                    </a>
                    <a class="right w3-display-bottomright" href="#">
                      <span class="glyphicon glyphicon-chevron-right"></span>
                    </a>
                  </div>
                </div>
                <!--caro end-->
                <ul class=" center-block thumb-list">
                  <li>
                    <img src="assets/images/gallery/thumb1.png" alt="">
                  </li>
                  <li>
                    <img src="assets/images/gallery/thumb1.png" alt="">
                  </li>
                  <li>
                    <img src="assets/images/gallery/thumb1.png" alt="">
                  </li>

                </ul>
                <!--thumb img-->
                <div class="read-this">
                  <img src="assets/images/gmail_red_icon.png" alt=""> Please read this!!!</div>
              </div>
              <!--col 2 end-->
              <div class="col-md-9 page2-topmiddle">
                <div class="w3-row">
                  <div class="col-xs-6">
                    <h3>Aimee</h3>
                  </div>
                  <div class="col-xs-6">
                    <!--col 3 end-->
                  </div>
                </div>
                <!--row end-->
                <p class="font-12">
                  <img src="assets/images/map_marker.png" alt="" /> Adaillaide, SA, 5000
                  <button type="button" class="btn edit-all">Edit/Add</button>
                </p>
                <h5 class="switch-toggle-main">Highlight Profile</h5>
                <p>
                  <label class="switch">
                    <input type="checkbox" checked>
                    <span class="switch-toggle round"></span>
                  </label>
                  <span class="cycle"> $2.50 Auto cycle
                    <button type="button" class="btn edit-all">Edit Page</button>
                  </span>
                </p>
                <p>Damaged
                  <span>180/1/1
                    <button type="button" class="btn edit-all">Edit/Add</button>
                  </span>
                </p>
                <p>Age
                  <span>20-25
                    <button type="button" class="btn edit-all">Edit/Add</button>
                  </span>
                </p>
                <p>Boob size
                  <span>34B
                    <button type="button" class="btn edit-all">Edit/Add</button>
                  </span>
                </p>
                <p>Height
                  <span>170cm
                    <button type="button" class="btn edit-all">Edit/Add</button>
                  </span>
                </p>
                <p>Room & CD
                  <span>Included
                    <button type="button" class="btn edit-all">Edit/Add</button>
                  </span>
                </p>
                <p>Service Location
                  <span>Hotel Aparrtment
                    <button type="button" class="btn edit-all">Edit/Add</button>
                  </span>
                </p>
                <h6>
                  <img src="assets/images/phone_icon_green.png" alt="" /> Contact info</h6>
                <p>Preferd contact method
                  <span> Text only
                    <button type="button" class="btn edit-all">Edit/Add</button>
                  </span>
                </p>
                <p>Mobile Number
                  <a href="#" class="w3-right btn btn-link text-green">Click here to Reveal</a>
                </p>
                <p class="text-bold">
                  <span> 0411 134...
                    <button type="button" class="btn edit-all">Edit/Add</button>
                  </span>
                </p>
                <h6>Others Contacts</h6>
                <p class="text-bold">
                  <img src="assets/images/chart.png" alt="" /> 0411 134...
                  <img src="assets/images/phone_icon1.png" alt="" /> 0411 134...</p>

              </div>
              <!--col 7 emd-->

            </div>
            <!--row end-->
            <div class="w3-row w3-white w3-panel page2-row2">
              <!--==================2 row================-->
              <p>My Services
                <button type="button" class="btn edit-all">Edit/Add</button>
              </p>
              <div class="w3-row check-row2">
                <label class="checkbox-inline">
                  <input type="checkbox" value="">Option 1
                </label>
                <label class="checkbox-inline">
                  <input type="checkbox" value="">Option 2
                </label>
                <label class="checkbox-inline">
                  <input type="checkbox" value="">Option 3
                </label>
                <label class="checkbox-inline">
                  <input type="checkbox" value="">Option 4
                </label>
                <label class="checkbox-inline">
                  <input type="checkbox" value="">Option 5
                </label>

              </div>
              <!--check box row-->
              <p>About Me
                <button type="button" class="btn edit-all">Edit/Add</button>
              </p>
              <h6>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum
                sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies
                nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel,
                aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam
                dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean
                vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem
                ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque
                rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget
                dui. Etiam rhoncus.</h6>
              <button type="button" class="btn edit-all w3-left">Edit/Upload</button>
              <div class="col-sm-offset-2 col-sm-8">
                <div class="embed-responsive embed-responsive-16by9">
                  <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/e0CvgHEiTwk" frameborder="0" allow="autoplay; encrypted-media"
                    allowfullscreen></iframe>
                </div>
              </div>
              <!--youtube video-->
            </div>
            <!--part 2 row end-->
            <div class="w3-row w3-white w3-panel w3-padding-16 page2-3row">
              <!--==================3 row================-->
              <p class="text-bold text-gray">My photo gallery
                <button type="button" class="btn edit-all">Edit/Upload</button>
              </p>
              <div class="col-sm-4">
                <img src="assets/images/gallery/1.png" class="img-adjust" onclick="onClick(this)">
              </div>
              <div class="col-sm-4">
                <img src="assets/images/gallery/2.png" class="img-adjust" onclick="onClick(this)">
              </div>
              <div class="col-sm-4">
                <img src="assets/images/gallery/3.png" class="img-adjust" onclick="onClick(this)">
              </div>
              <div class="col-sm-4">
                <img src="assets/images/gallery/4.png" class="img-adjust" onclick="onClick(this)">
              </div>
              <div class="col-sm-4">
                <img src="assets/images/gallery/5.png" class="img-adjust" onclick="onClick(this)">
              </div>
              <div class="col-sm-4">
                <img src="assets/images/gallery/1.png" class="img-adjust" onclick="onClick(this)">
              </div>
            </div>
            <!--part 3 row end----------->
            <!-- Modal for full size images on click-->
            <div id="modal01" class="w3-modal w3-black" style="padding-top:0">
              <span class="w3-button w3-black w3-xlarge w3-display-topright" onClick="w3_close()">×</span>
              <div class="w3-modal-content w3-animate-zoom w3-center w3-transparent w3-padding-64">
                <img id="img01" class="w3-image">
                <p id="caption"></p>
              </div>
            </div>
            <!--modal end-->
            <div class="w3-row w3-panel w3-white w3-padding-16">
              <!--=================4 row======================-->
              <p class="text-bold">Comments</p>
              <ul class="nav nav-tabs bottom-tab">
                <li class="active">
                  <a data-toggle="tab" href="#Comments">Comments </a>
                </li>
                <li>
                  <a data-toggle="tab" href="#Complaints">Complaints</a>
                </li>
                <li class="bg-pink">
                  <a data-toggle="tab" href="#report" class="btn">Report</a>
                </li>
              </ul>

              <div class="tab-content">
                <div id="Comments" class="tab-pane fade in active">
                  <p class="resent-comment">Recent Comments</p>
                  <div class="col-sm-9">
                    <h6 class="comment-name">
                      <img src="assets/images/user.png" alt=""> User Jammy2o3o3</h6>
                    <p class="comment-text">Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis,
                      ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo,
                      fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis
                      vitae, justo. </p>
                  </div>
                  <!--comment 1 end-->
                  <div class="col-sm-offset-1 col-sm-9">
                    <h6 class="comment-name">
                      <img src="assets/images/user.png" alt=""> User Jammy2o3o3</h6>
                    <p class="comment-text">Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis,
                      ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo,
                      fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis
                      vitae, justo. </p>
                  </div>
                  <!--comment 2-->
                  <div class="col-sm-offset-2 col-sm-9">
                    <h6 class="comment-name">Your comment</h6>
                    <textarea rows="4"></textarea>
                    <div class="text-right">
                      <input type="button" class="btn bg-pink btn-post" value="post">
                    </div>
                  </div>
                  <!--comment 2-->
                </div>
                <!--==========================comments end============================-->
                <div id="Complaints" class="tab-pane fade">
                  <h3>Menu 1</h3>
                  <p>Some content in menu 1.</p>
                </div>
                <div id="report" class="tab-pane fade">
                  <h3>Menu 1</h3>
                  <p>Some content in menu 1.</p>
                </div>

              </div>
              <!--tab-content end-->
            </div>
            <!--part 4 row end-->
          </div>
          <!--main col end-->
        </div>
        <!--row end-->
      </div>
    </tab>
    <tab heading="Price">
      <div class="container w3-panel text-center">
        <div class="row">


          <div class="tab-content w3-white">
            <div id="preview" class="tab-pane fade in active">
              <div class="w3-row w3-row-padding ">
                <div class="col-sm-6 text-left">
                  <h1>Amiee</h1>
                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has</p>
                </div>
                <!--col8 end-->
                <div class="col-sm-5 text-right">

                </div>
                <!--col end-->
              </div>
              <!--row end-->
              <div class="w3-row plr-32">
                <div class="col-sm-6 col-md-3">
                  <ul class="list-group">
                    <li class="list-group-item text-black">Silver</li>
                    <li class="list-group-item text-gray">pay</li>
                    <li class="list-group-item text-black">$100.00</li>
                    <li class="list-group-item text-green">get</li>
                    <li class="list-group-item text-black">$10.00</li>
                    <li class="list-group-item text-gray">Bonus</li>
                    <li class="list-group-item text-black">Lorem Ipsum is simply dummy text of the printing </li>
                    <li class="list-group-item">ADD</li>
                  </ul>
                </div>
                <!--col emnd-->
                <div class="col-sm-6 col-md-3">
                  <ul class="list-group">
                    <li class="list-group-item text-black">Silver</li>
                    <li class="list-group-item text-gray">pay</li>
                    <li class="list-group-item text-black">$100.00</li>
                    <li class="list-group-item text-green">get</li>
                    <li class="list-group-item text-black">$10.00</li>
                    <li class="list-group-item text-gray">Bonus</li>
                    <li class="list-group-item text-black">Lorem Ipsum is simply dummy text of the printing </li>
                    <li class="list-group-item">ADD</li>
                  </ul>
                </div>
                <!--col emnd-->
                <div class="col-sm-6 col-md-3">
                  <ul class="list-group ">
                    <li class="list-group-item text-black">Silver</li>
                    <li class="list-group-item text-gray">pay</li>
                    <li class="list-group-item text-black">$100.00</li>
                    <li class="list-group-item text-green">get</li>
                    <li class="list-group-item text-black">$10.00</li>
                    <li class="list-group-item text-gray">Bonus</li>
                    <li class="list-group-item text-black">Lorem Ipsum is simply dummy text of the printing </li>
                    <li class="list-group-item">ADD</li>
                  </ul>
                </div>
                <!--col emnd-->
                <div class="col-sm-6 col-md-3">
                  <ul class="list-group empty-list">
                    <li class="list-group-item text-black">Enter</li>
                    <li class="list-group-item text-gray">Amount</li>
                    <li class="list-group-item text-black"></li>
                    <li class="list-group-item">ADD</li>
                  </ul>
                </div>
                <!--col emnd-->
              </div>
              <!--row end-->
              <p class="text-left radio-text">
                <input type="radio" name="check" id="radio"> Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
              <ul class="total-list text-left">
                <li>Total Amount Selected</li>
                <li>$256.00</li>
                <li>Pay Here</li>
                <li>
                  <input type="button" class="btn btn-paypal" value="PayPal">
                </li>
              </ul>
            </div>
            <!--preview end-->
            <div id="edit" class="tab-pane fade">
              <h1>Coming Soon</h1>
            </div>
            <div id="recharge" class="tab-pane fade">
              <h1>Coming Soon</h1>
            </div>
          </div>
        </div>
        <!--row end-->
      </div>
    </tab>
  </tabset>
</div>
