* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.norecords{
  font-size: 14px;
  color: #5d5d5d;
  margin: 0;
  padding: 0 5px;
  line-height: 18px;
  letter-spacing: 0.5px;
  text-align: center;
}

/deep/ .customClass {
  background: #fff;
   border-radius: 100%;
   /* padding: 10px; */
   top: 5%;
   left: 80%;
   height: 44px;
   width: 44px;
}

/deep/ .picked_images .edit-back .img-ul-file-upload{
  background-color: white;
  border-radius: 100%;
  padding: 0px !important;
  height: 44px;
  width: 44px;
}
/deep/ .customClass .img-ul-upload {
  background-image: url("../../assets/images/edit.png");
  background-repeat:no-repeat;
  background-position: center;
  text-align: center;
  /* background: transparent; */
   border-radius: 100%;
   position: relative;
   padding: 10px;
   height: 44px;
   width: 44px;
   padding: 10px;
   color: #000 !important;
    cursor: pointer;
    display: inline-block;
    float: right !important;
    font-size: 1em;
    font-weight: 500;
    text-transform: uppercase;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-indent: 100% !important;
    white-space: nowrap !important;
    overflow: hidden !important;
}

/deep/ .customClass .img-ul-clear {

}

/deep/ .customClass .img-ul-drag-box-msg {

}

/deep/ .customClass .img-ul-container {
  display: none;
}
/deep/ .customClass .img-ul-file-upload .img-ul-clear {
  display: none;
}
/deep/ .edit-back .img-ul-upload.img-ul-button span {font-size: 0 !important; }
/deep/ .img-ul-button {padding: 0 !important; box-shadow: none !important;}
.header-title {
    padding: 8px 15px;
    font-size: 34px;
    color: rgb(255,255,255);
    font-family: "Cookie";
    background-color: #f34747;
}
.selected, .grid_tiles:hover {
    box-shadow: inset 0px 0px 10px #f34747;
    transition: all .3s ease;
}
.header-title-without{
    padding: 8px 15px;
    font-size: 40px;
    color: #f34747;
    font-family: "Cookie";
}
.content {
    font-size: 24px;
    line-height: 32px;
    color: rgb(134,134,134);
    font-family: "Karla";
    margin: 35px 50px;
}
.testi-content,.comment-content{
      font-size: 24px;
    line-height: 32px;
    color: rgb(134,134,134);
    font-family: "Karla";
}
img.lock-icon {
   position: absolute;
    top: 8px;
    right: 13px;
}

img.edit-icon {
   position: absolute;
    top: 13px;
    right: 13px;
}

img.image.lock {
   height: 63px;
    width: 63px;
    margin-left: 10px;
    /* filter: blur(4px); */
}
.lock-edit{
    margin-left: 10px;
    /* filter: blur(4px); */
}
img.main-image.lock {
    height: 283px;
    width: 283px;
    /* filter: blur(4px); */
}
img.image.lock:first-child {
    margin-left: 0px;
}
.image-listing-sec{
    overflow: hidden;
    display: inline-block;
    position: relative;
}
span.lock-back {
    background: #fff;
    border-radius: 100%;
    padding: 10px;
    position: absolute;
    top: 10px;
    right: 10px;
    height: 44px;
    width: 44px;
}
span.edit-back {
   /* background: #fff; */
    /* border-radius: 100%; */
    position: absolute;
    top: 10px;
    right: 10px;
    border-radius: 100%;
    transition: all .3s linear;
}
img.main-image.ng-star-inserted {
    max-width: 210px;
}
.x6.o6 {
    display: -webkit-flex;
    /* -webkit-justify-content: center; */
    display: flex;
    /* justify-content: center; */
}
.x6.o6 {
    margin: 20px 50px;
}
.image-section,.basic-info,.extra-info {
    -webkit-flex: 1;
    flex: 1;
}
.setting-info{
    margin-left: 50px;
    text-align: left;
}
/deep/ .mat-slide-toggle-thumb {
    background-color: #7e7e7e;
}
/deep/ .mat-slide-toggle-bar {
    background-color: #dcdcdc;
}
td.label {
    font-size: 20px;
    letter-spacing: 0;;
    color: rgb(0,0,0);
    font-family: "Karla";
    line-height: 24px;
    margin-bottom: 10px;
    display: inline-block;
}
td.value {
    font-size: 19px;
    letter-spacing: 0;;
    color: rgb(134,134,134);
    font-family: "Karla";
    line-height: 20px;
}
.user-name,.messages{display: inline-block;}
button.top-button{
    font-size: 25px;
    letter-spacing: 0;;
    color: rgb(255,255,255);
    font-family: "Karla";
    font-weight: bold;
    text-align: center;
    width: 256px;
    height: 50px;
    border-radius: 3px;
    background-color: #2ee684;
    float: right;
    border: none;
    cursor: pointer;
}
button.top-button:hover, button.top-button:focus {
    color: #2ee684;
    background-color: #fff;
    border: 1px solid #2ee684;
}
.head-title {
    text-align: center;
    font-size: 40px;
    color: rgb(243,71,71);
    font-family: "Cookie";
    margin-right: 20px !important;
    margin: 0px;
    font-weight: normal;
}
h4.user-name {
     font-size: 48px;
    color: rgb(243,71,71);
    font-family: "Cookie";
    margin-right: 20px !important;
    margin: 0px;
    font-weight: normal;
}
.testi-content {
    width: 100%;
    display: inline-block;
    margin: 10px 0;
}
p.username{
        display: inline-block;
    margin: 0px;
    font-size: 27px;
letter-spacing: 0;;
color: rgb(0,0,0);
font-family: "Karla";
font-weight: bold;
}
p.date {
    float: right;
    font-size: 20px;
letter-spacing: 0px;
color: rgb(134,134,134);
font-family: "Karla";
margin: 0px;
}
p.description {
    width: 100%;
    font-size: 21px;
    margin: 5px 0 20px;
    line-height: 28px;
    color: rgb(134,134,134);
    font-family: "Karla";
}
img.profile-pic {
    vertical-align: middle;
    width: 92px;
    height: 91px;
    border-radius: 46px;
}
.comment-content{
    border-bottom: 1px solid #d6d6d6;
    margin: 30px 50px;
}
.video-content{
   margin-right: 10px;
    font-size: 24px;
    line-height: 32px;
    color: rgb(134,134,134);
    font-family: "Karla";
    display: inline-block;
    margin-top: 0px;
    position: relative;
    vertical-align: middle;
    width: 215px;
    height: 215px;
    margin-bottom: 5px;
}
.video-content iframe {
    display: inline-block;
    width: 100%;
    height: 100%;
    border: 1px solid #f5f5f5;
}
.upload-video {margin-right: 10px;}
.upload-video {
    text-align: center;
    color: #4e4e4e;
    font-size: 20px;
    font-style: italic;
    letter-spacing: 0.5px;
    padding: 8% 0;
}
.video-content .delete-back img {
    top: 8px;
}
.video-section {
    margin: 25px 50px;
}
p.nickname {
    font-size: 25px;
    letter-spacing: 0;;
    color: rgb(0,0,0);
    font-family: "Karla";
    font-weight: bold;
}
.comment-content:last-child {
    border: none;
}
.timer-button{
    font-size: 25px;
    letter-spacing: 0;;
    color: rgb(255,255,255);
    font-family: "Karla";
    font-weight: bold;
    text-align: center;
    width: 100%;
    height: 50px;
    border-radius: 3px;
    background-color: #2de585;
    margin-bottom: 10px;
    border: none;
}
/* --------------------------- Edit profile---------------------- */
/deep/ .mat-tab-label{
    font-size: 38px;
    width: 372px;
    height: 57px;
    background-color: #f7f7f7;
    opacity: 1 !important;
    color: rgb(125,125,125);
    font-family: "Cookie";
}
/deep/ .mat-tab-label-active
{
    background-color: #f34747 !important;
    color: rgb(255,255,255) !important;
    font-family: "Cookie" !important;
}
.deleteicon{
       vertical-align: middle;
    position: relative;
    float: right;
    margin-left: 10px;
}
/deep/ .mat-tab-body{
    margin: 20px;
}

.edit-submit{
width: 214px;
height: 50px;
background-color: #ff2121;
font-size: 25px;
color: rgb(255,255,255);
font-family: "Karla";
font-weight: bold;
text-align: center;
border: none;
cursor: pointer;
}

/deep/ .mat-slide-toggle-content,.changepass{
    font-size: 24px;
    color: rgb(243,71,71);
    font-family: "Karla";
    cursor: pointer;
}
.example-section{
    margin-bottom: 20px;
}


.edit-form{

}

input.form-control,select.form-control {
    font-size: 21px;
    color: #868686;
    font-family: "Karla";
    text-align: left;
    border-radius: 5px;
    margin: 10px 0;
    border-style: none;
    width: 100%;
    height: 50px;
    background-color: #f6f6f6;
    padding: 0 10px;
}

#aboutme{
    width: 100%;
    height: 119px;
    border-radius: 5px;
    background-color: #f6f6f6;
    font-size: 21px;
    color: #868686;
    font-family: "Karla";
    text-align: left;
    border-style: none;
    padding: 10px;

}

fieldset{border: none;}
.has-danger .form-control-feedback,.register-error {
    color: #d9534f;
}
.register-success{color: #5cb85c;}
.has-danger .form-control {
    border-color: #d9534f !important;
    border: 1px solid rgba(0,0,0,.15);
}
.has-success .form-control {
    border-color: #5cb85c;
    border: 1px solid rgba(0,0,0,.15);
}
.col-2,.col-1,.col-3,.col-4{
    column-count: 3;
}
.col-5,.col-6{
    column-count: 2;
}
.input-field-viber input,.input-field-wechat input,.input-field-location input,.input-field-service input{
height: 50px;
background-color: #f6f6f6;
}
.price-control {
    background: white !important;
    border-bottom: 1px solid !important;
    border-radius: 0px !important;
    /* height: auto !important; */
    width: 140px !important;
}
.upload-label{
       margin: 0px;
    font-size: 16px;
    letter-spacing: 0px;
    color: rgb(34,34,34);
    font-family: "Karla";
}
.p-thumbnails,.profile-upload{
    display: inline-block;
    vertical-align: middle;
}
.delete-back img {
    left: 0;
    right: 0;
    margin: 0 auto;
    position: relative;
    top: 12px;
}
span.delete-back {
    background: #fff;
    border-radius: 100%;
    padding: 0;
    position: absolute;
    top: 10px;
    right: 10px;
    height: 44px;
    width: 44px;
    text-align: center;
}
img.delete-icon{
    position: absolute;
    top: 8px;
    right: 10px;
}
.profile-upload{
    /*border: 1px dashed;*/
    padding: 22px 0px;
    text-align: center;
    background: #f1f1f1;
    vertical-align: middle;
    display: inline-block;
    float: none;
}
.upload-video{
        background: #f8f8f8;
    height: 223px;
    width: 230px;
    display: inline-block;
    border: dashed;
    border-width: 1px;
}
label.label-left {
    font-size: 21px;
    letter-spacing: 2px;
    color: #252525;
    font-family: "Karla";
    font-style: italic;
}
.submit-section{
    text-align: center;
    margin: 15px 0;
}
.edit-submit:hover {
    color: #ff2121;
    background: #fff;
    border: 1px solid #ff2121;
}

/*Payment Tab - Designer*/

/deep/ .payment_tab .mat-ink-bar.mat-ink-bar {
    background: #fff;
}

/deep/ .payment_tab .mat-tab-labels .mat-tab-label {
    width: 100%;
    display: inline-block;
    font-size: 21px;
    font-family: karla !important;
    line-height: 44px;
}
/deep/ .mat-tab-body-wrapper .payment_tab  .mat-tab-body {margin-top: 0;}

/deep/ .mat-tab-body-wrapper .payment_table .mat-header-row {
    border: 1px solid #f34747;
}
/deep/ .payment_table .mat-header-cell {
    font-size: 20px;
    color: #f34747 !important;
    font-family: karla;
    font-weight: 700;
    text-align: center;
}
/deep/ .payment_table .mat-cell {
    color: #7d7d7d !important;
    font-size: 16px;
    text-align: center;
}
.example-container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
}
.example-header {
  min-height: 64px;
  padding: 8px 24px 0;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.mat-table {
  overflow: auto;
  /* max-height: 500px; */
}
/*Packages*/
mat-grid-tile {
  background: #fff;
}
/deep/ .package_grids .mat-figure h1 {
    font-family: "Cookie";
    font-size: 48px;
    margin: 12px 0;
    color: #f34747;
    font-weight: normal;
    line-height: 38px;
    text-transform: capitalize;
}
/deep/ .package_grids .mat-figure p {
    font-size: 13px;
    color: #5d5d5d;
    margin: 0;
    padding: 0 5px;
    line-height: 18px;
    letter-spacing: 0.5px;
    height: 82px;
    overflow: hidden;
}
/deep/ .package_grids .mat-figure span {
    font-size: 18px;
    color: #3be400;
    margin: 15px 0;
    display: inline-block;
    width: 100%;
    letter-spacing: 0.5px;
}

/deep/ .payment_tab .mat-tab-body {
    margin-top: 0;
    margin: 0 5px;
}
/deep/ .package_grids .mat-figure h2 {
    font-size: 38px;
    color: #f34747;
    margin: 0 0 10px;
    font-weight: normal;
}
/deep/ .package_grids .mat-figure button {
    font-size: 20px;
    background: #f34747;
    width: 100%;
    border: none;
    color: #fff;
    letter-spacing: 0.5px;
    padding: 12px 5px;
    font-family: karla;
    font-weight: normal;

}
/deep/ mat-tab-body#mat-tab-content-0-2 {
    margin-left: 0;
    margin-right: 0;
}
/deep/ .package_grids .grid_tiles {
    display: inline-block !important;
    text-align: center;
    border: 1px solid #f34747;
    margin: 0 5px !important;
    height: 99%;
    width:100%;
}
/deep/ .package_grids .mat-figure h1, .package_grids .mat-figure p, .package_grids .mat-figure h2,
.package_grids .mat-figure button {
    width: 100%;
    display: inline-block;
    text-transform: capitalize;
}
.package_grids .mat-figure button {
    transition: all .3s ease;
}
/deep/ .package_grids .mat-figure button:hover, .package_grids .mat-figure button:focus {
    color: #f34747;
    background: #fff;
    border-top: 1px solid #f34747;
    transition: all .3s ease;
}

.paybutton{
  font-size: 20px;
    background: #f34747;
    width: 20%;
    border: none;
    color: #fff;
    letter-spacing: 0.5px;
    padding: 12px 5px;
    font-family: karla;
    font-weight: normal;
}
.paybutton:hover{
  color: #f34747;
background: #fff;
border-top: 1px solid #f34747;
-webkit-transition: all .3s ease;
transition: all .3s ease;
}
.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

/deep/ .package_grids .example-full-width {
  width: 100%;
  text-align: center;
}
.enter_amount {
    padding: 0 0;
}
/deep/ .package_grids .mat-figure .enter_amount p {
    height: 98px;
}
.enter_amount input {
    height: 30px;
    border: none;
    border-bottom: 1px solid #999;
    text-align: center;
    font-size: 16px;
    width: 85%;
    outline: 0;
    margin: 10px 0;
}

/deep/ .mat-checkbox-layout .mat-checkbox-label {
    line-height: 24px;
    font-family: karla;
    font-size: 20px;
    color: #000;
}
/deep/ .mat-checkbox-checked.mat-accent .mat-checkbox-background {
    background-color: transparent;
}
/deep/ .mat-checkbox-checkmark {
    fill: #000;
}
/deep/ .mat-checkbox-checkmark-path {
    stroke: #000!important;
}
/deep/ .mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar {
    background-color: rgba(255,255,255,0.8) !important;
}
h3.current_bal {
    color: #2ee685;
    font-size: 32px;
}
/deep/ .mat-checkbox {
    display: inline-block;
    margin: 10px 0px !important;
}
/deep/ h3.current_bal {
    margin: 5px 0 !important;
}
/*/deep/ .package_grids input.mat-input-element {
    margin-top: 9px;
    text-align: center;
}
/deep/ .package_grids .mat-focused .mat-form-field-label, .package_grids .mat-form-field-label,
.package_grids .mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label,
.package_grids .mat-form-field-empty.mat-form-field-label{
    color: #999;
    font-weight: normal;
    font-family: karla;
    font-size: 21px;
    display: none;
}
/deep/ .package_grids .mat-form-field-ripple {
    background-color: transparent;
}
/deep/ .mat-form-field-underline {
    width: 85% !important;
    left: 0;
    right: 0;
    margin: 0 auto;
}
/deep/ .mat-form-field-infix {
    text-align: center;
    padding: 26px 0 0;
    border-top: none;
}*/
.new_images {
     overflow: hidden;
   /* display: table;*/
    position: relative;
    height: 215px;
    width: 215px;
    text-align: center;
    font: 0/0 a;
    display: inline-block;
}

.image_center::before {
    content: '';
    vertical-align: middle;
    display: inline-block;
    height: 100%;
}
.image_center {
    /*display: table-cell;*/
    vertical-align: middle;
    height: 100%;
    width: 100%;
    display: inline-block;
    position: relative;
}
.image_center img {
    vertical-align: middle;
    display: inline-block;
    max-width: 100%;
    max-height: 215px;
    height: auto;
    width: auto;
    margin-left: 0;
}
span.edit-back:hover {
    box-shadow: 1px 4px 2px #000, 0px 0px 2px #000;
    border-radius: 100%;
    transition: all .3s linear;
}
.edit-form {
    text-align: center;
}
.control_form {text-align: left;margin-bottom: 10px;}
.picked_images, .picked_videos {
    text-align: left;
    display: inline-block;
    width: 100%;
}
.p-thumbnails {
    display: inline-block;
    vertical-align: middle;
}
.profile-upload, .p-thumbnails .image-listing-sec {
    margin-right: 9px;
    border: 1px solid #f5f5f5;
}
.p-thumbnails .image-listing-sec:last-child {
    margin-right: 0;
}
.upload-video, .profile-upload {
    width: 215px;
    height: 215px;
    vertical-align: middle;
    display: inline-block;
    float: left;
}
/deep/ .picked_images .img-ul {
    background-color: transparent !important;
    border: transparent dashed 1px !important;
}
/deep/ .picked_images .img-ul-file-upload {
    padding: 0 !important;
    text-align: center;
}
/deep/ .picked_images .img-ul-button {
    float: none !important;
    background: #F1F1F1 !important;
    border: 1px dashed #000 !important;
    padding: 20px 10px !important;
    color: #4e4e4e !important;
    font-size: 13px;
    font-style: italic;
    letter-spacing: 0.5px;
    margin-bottom: 10px;
}
.picked_images input.form-control, .picked_images select.form-control {
    font-size: 18px;
    color: #868686;
    width: 100%;
    height: 50px;
    text-align: center;
    background-color: transparent !important;
}
/deep/ .picked_images .img-ul-container {
    background-color: transparent !important;
    padding: 0 10px !important;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
}
/deep/ .picked_images .img-ul-image {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain !important;
    display: inline-block !important;
    float: none !important;
    height: 64px !important;
    margin: 0 !important;
    position: relative !important;
    width: 64px !important;
}
/deep/ .profile-image .img-ul-file-upload {
    padding: 0 !important;
}
p.nickname, p.tcomment {
    margin: 5px 0;
}
.testimonial {
    width: 100%;
    display: inline-block;
}
/deep/ .mat-tab-label {
    min-width: 33%;
    width: 33%;
}
/deep/ .mat-tab-header-pagination {display: none !important;}
.top-section {
    vertical-align: middle;
    display: inline-block;
    width: 100%;
}
.deleteicon, .date {
    margin: 25px 5px !important;
}
.show_info {
    display: none;
}
/deep/ .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
    background-color: #f34747;
}
p.changepass:hover, p.changepass:focus {
    color: #000;
}

.basic-info td.label {
    width: 150px;
    vertical-align: middle;
}
.head-title {
    text-align: center;
    font-family: cookie;
    color: rgb(243,71,71);
    font-size: 40px;
    line-height: 25px;
    margin: 15px 0;
}
/*20-03-2018 starts*/
.payment_table {
    width: 100%;
    display: inline-block !important;
}
.payment_table .control_form {
    width: 49%;
    display: inline-block;
    vertical-align: middle;
}
.payment_table .control_form input {
    width: calc(100% - 80px) !important;
    display: inline-block;
}
.control_form mat-datepicker-toggle {
    width: 40px;
    height: 40px;
    vertical-align: middle;
    display: inline-block !important;
}
.payment_table .control_form + .control_form {
    text-align: right;
    float: right;
}
/*20-03-2018 ends*/
.image-listing-sec, .image-listing-sec2 {
    display: inline-block;
    height: 285px;
    width: 285px;
    font: 0/0 a;
    text-align: center;
    border: 1px solid #ccc;
    float: left;
    position: relative;
    margin-bottom: 5px;
}
.image-listing-sec::before, .image-listing-sec2::before {
    content: ' ';
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}
.image_profile, .image_center {
    display: inline-block;
    vertical-align: middle;
    margin: 0 auto;
}
img.main-image.lock  {
    height: auto;
    width: auto;
    vertical-align: middle;
    max-width: 100%;
    max-height: 285px;
}
/deep/ .input-field-phone.control_form {display: inline-block;}
@media (min-width: 768px) {
    /deep/ .payment_tab .mat-tab-labels .mat-tab-label {
        width: 100%;
        display: inline-block;
    }
    /deep/ .payment_tab .mat-tab-labels {
        width: 185px;
        display: inline-block;
    }
    /deep/ .payment_tab .mat-tab-header {
        width: 185px;
        display: inline-block;
        float: left;
    }
    /deep/ .payment_tab .mat-tab-body-wrapper {
        display: inline-block;
        width: calc(100% - 185px);
        float: left;
        overflow: auto;
        transition: none;
    }
    /deep/ .payment_tab mat-tab-group {
        display: inline-block;
        width: 100%;
    }
}

@media (min-width: 992px) {
    /deep/ .payment_tab .mat-tab-labels {
        width: 240px;
        display: inline-block;
    }
    /deep/ .payment_tab .mat-tab-header {
        display: inline-block;
        float: left;
        width: 240px;
    }
    /deep/ .payment_tab .mat-tab-body-wrapper {
        display: inline-block;
        width: calc(100% - 240px);
        float: left;
        overflow: auto;
        transition: none;
    }
}
@media (min-width: 1200px) {
    .home_container {
        width: 1170px;
        max-width: 1170px;
        margin: 0 auto;
    }
    .image-listing-sec2 {
        display: inline-block;
        height: auto;
        width: 215px;
    }
    .image-section {width: 285px;}
}
@media (max-width: 1199px) {
    .home_container {
        width: 960px;
        max-width: 960px;
        margin: 0 auto;
    }
    /deep/ .package_grids .mat-figure h1 {
        font-size: 44px;
        line-height: 40px;
    }
    /deep/ .package_grids .mat-figure button {font-size: 18px;}
    .show_info {
        display: block;
    }
    .hide_info {
        display: none;
    }
    .basic-info {
        width: calc(99% - 283px);
        display: inline-block;
        flex: 0 !important;
        -webkit-box-flex: 0 !important;
        float: left;
    }
    .edit_preview.x6.o6 {
        display: inline-block !important;
        width: 100%;
        margin: 0 !important;
    }
    .image-section, .basic-info, .extra-info {
        display: inline-block;
        float: left;
    }
    .basic-info {
        width: calc(99% - 283px);
        display: inline-block;
    }
    .basic-info table, .basic-info tr {
        display: inline-block;
        width: 100%;
        margin: 3px 0;
    }
    .basic-info table tr td:first-child {
        width: auto;
        display: inline-block;
        margin-right: 10px;
        margin-left: 10px;
        vertical-align: middle;
        margin-bottom: 0;
    }
    .basic-info table tr td:last-child {
        width: auto;
        display: inline-block;
    }

}
@media (max-width: 991px) {
    .home_container {
        width: 700px;
        max-width: 700px;
        margin: 0 auto;
    }
    /deep/ .payment_tab .mat-tab-labels .mat-tab-label {
        font-size: 16px !important;
        padding: 0 10px !important;
    }
    /deep/ .mat-tab-body-wrapper .payment_tab .mat-tab-body {
        margin-left: 5px;
        margin-right: 0;
    }

    /deep/ .mat-tab-body.ng-tns-c13-2 {
        margin: 20px 5px;
    }
    /deep/ .payment_tab .mat-header-row {
        min-height: 46px;
    }
    /deep/ .payment_table .mat-cell, /deep/ .payment_table .mat-header-cell {
        font-size: 13px;
    }
    /deep/ .package_grids form.enter_amount[_ngcontent-c3] {
        padding: 34px 0;
    }
    /deep/ .package_grids .mat-figure button {
        background: #f34747;
        width: 97%;
        padding: 12px 0;
        position: absolute;
        left: 0;
        right: 0;
        margin: 0 auto;
        bottom: 0;
    }
    label.label-left[_ngcontent-c3] {
        font-size: 20px;
        letter-spacing: 0.5px;
    }

    .new_images, .upload-video, .profile-upload {
        width: 210px;
        height: 210px;
    }
    .profile-upload, .p-thumbnails .image-listing-sec, .upload-video, .video-content {
        margin-right: 6px;
    }
    p.username {
        font-size: 22px;
        max-width: 60%;
        line-height: 25px;
    }
    .comment-content {
        margin: 30px 0px;
    }
    .basic-info table tr td {font-size: 17px !important;}
    .content {margin: 10px;font-size: 20px}
    p.description {
        font-size: 18px !important;
        line-height: 23px !important;
    }
    .video-section {
        margin: 10px 5px;
    }
}
@media (max-width: 767px) {
    .home_container {
        width: 100%;
        max-width: 100%;
        padding: 0 15px;
    }
    /deep/ .mat-tab-body-wrapper .payment_tab .mat-tab-body {
        margin-top: 15px;
    }
    /deep/ .mat-tab-body-wrapper .payment_table .mat-header-row {
        display: none;
    }
    /deep/ .payment_table .mat-cell {
        width: auto;
        display: inline-block;
        float: left;
        text-align: left;
        max-width: 50%;
        padding: 3px 5px;
    }
    /deep/ .payment_table mat-row.mat-row.ng-star-inserted {
        display: inline-block;
        width: 100%;
        text-align: left;
        padding: 5px;
    }
    /deep/ .payment_table .mat-cell:nth-child(2n+1) {
        clear: both;
    }
    /deep/ .payment_table .mat-cell:last-child {
        width: 100%;
        max-width: 100%;
    }
    /deep/ .package_grids .mat-figure h1 {
       margin: 5px 0;
    }
    /deep/ .package_grids .mat-figure h2 {
            font-size: 20px;
    }
    h3.current_bal {
            font-size: 20px;
    }
    .col-2, .col-1, .col-3, .col-4, .col-5, .col-6  {
        -webkit-column-count: 1;
        column-count: 1;
    }
    .control_form {width: 100%;margin-bottom: 5px;display: inline-block;}
    /deep/ .mat-tab-body.mat-tab-body-active {margin: 0;}
    /deep/ form.edit-form .x6.o6 {
        margin: 0;
    }
    .image-listing-sec {height: 190px;width: 190px;}
    .image-listing-sec img {max-height: 190px;}
    .setting-info {
        margin-left: 20px;
        text-align: left;
    }
    /deep/ .mat-slide-toggle-content, .changepass {
        font-size: 20px;
    }
    /deep/ .mat-checkbox-layout .mat-checkbox-label {
        font-size: 18px;
        white-space: normal;
    }
    .new_images, .upload-video, .profile-upload, .video-content {
        width: 210px;
        height: 210px;
    }
    .picked_images, .picked_videos {
        text-align: center;
    }
    /deep/ .mat-tab-label {font-size: 26px;    padding: 0 15px !important;}
    img.profile-pic {
        width: 70px;
        height: 70px;
        border-radius: 100%;
    }
    p.username[_ngcontent-c3] {
        margin: 0px;
        font-size: 16px;
        max-width: 35%;
        line-height: 18px;
    }
    p.date {font-size: 17px;}
    p.nickname, p.tcomment {
        margin: 5px 0;
        font-size: 18px;
        line-height: 18px;
    }
    .edit_preview .image-section, .basic-info, .extra-info {
        display: inline-block;
        float: left;
        width: 100%;
        text-align: center;
        padding: 10px 0;
    }
    .edit_preview .image-listing-sec, .edit_preview img.main-image.lock {
        height: 215px;
        width: 215px;
    }
    .edit_preview .profile-thumbnails img.image.lock {
        height: 49px;
        width: 49px;
        margin-left: 4px !important;
        max-height: 49px !important;
    }
    .profile-thumbnails .image-listing-sec {height: auto;}
    .edit_preview .basic-info {
        padding-top: 0;
        text-align: left;
    }
    .profile-image img.main-image.lock {
        height: auto;
        width: auto;
        max-width: 100%;
    }
}
@media (max-width: 480px) {
    /deep/ form.edit-form .x6.o6 {
        display: inline-block;
        width: 100%;
    }
    /deep/ .image-section1 {
        width: 100%;
        text-align: left;
        display: inline-block;
    }
    .setting-info {
        margin-left: 0;
    }
    .example-section {
        margin-bottom: 5px;
    }
    .edit-form {
        text-align: left;
    }
    .mat-slide-toggle-content, .changepass {
        margin: 0 0 5px;
    }
    .col-1 {
        margin-top: 15px;
    }
    .control_form {
        width: 100% !important;
        margin-bottom: 5px;
    }
    .new_images, .upload-video, .profile-upload, .image-listing-sec {
        width: 215px;
        height: 215px;
        float: none;
        margin: 5px 0;
    }
    .image-listing-sec img {
        max-height: 215px;
    }
    p.username {
        font-size: 12px;
        max-width: 35%;
        line-height: 14px;
    }
    .deleteicon, .date {
        margin: 10px 1px !important;
    }
    p.date[_ngcontent-c3] {
        font-size: 13px;
    }
    p.description[_ngcontent-c3] {
        font-size: 16px;
        margin: 5px 0 20px;
        line-height: 20px;
    }
    .control_form input {
        width: calc(100% - 50px) !important;
    }
    .control_form input {
        margin-bottom: 2px;
        margin-top: 2px;
        font-size: 18px;
    }

}
